<h1>Listing Articles</h1>
<% if @tickets.empty? %>
  <p>You do not have any tickets.</p>
<% else %> 
  <table>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
      <th>Created</th>
      <th>Last Activity</th>
    </tr>
    
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= link_to  ticket.title, ticket_path(ticket) %></td>
        <td><%= ticket.description %></td>
        <td><%= ticket.status %></td>
        <td><%= time_ago_in_words(ticket.created_at) %> ago</td>
        <td><%= time_ago_in_words(ticket.updated_at) %> ago</td>
      </tr>
    <% end %>
  </table>
<% end %>
