<% if current_user.is_agent? || current_user.is_admin? %>
  <h1>All Requests</h1>
<% else %>
  <h1>My Requests</h1>
<% end %>

<div class="comment-form-actions">
  <%= link_to "Export Closed Requests", closed_tickets_path, class: "button-large mark-as-solved", type: "button" if current_user.is_agent?%>
</div>
<% if @tickets.empty? %>
  <p>You do not have any tickets.</p>
<% else %> 
  <table class="ticket__listing">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
      <th>Created</th>
      <th>Last Activity</th>
    </tr>
    
    <% @tickets.each do |ticket| %>
      <tr>
        <td class="ticket__details"><%= link_to  ticket.title, ticket_path(ticket) %></td>
        <td><%= ticket.description %></td>
        <td><%= ticket.status %></td>
        <td><%= time_ago_in_words(ticket.created_at) %> ago</td>
        <td><%= time_ago_in_words(ticket.updated_at) %> ago</td>
      </tr>
    <% end %>
  </table>
<% end %>
